@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.textSizeCommon {
  font-size: 0.75rem !important;
}

h1 {
  font-size: 1.11rem;
  font-weight: 700;     /* bold */
  color: #ffffff;
}

h2 {
  font-size: 0.9rem;
  font-weight: 700;
}

body1 {
  font-size: 0.875rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.25rem;
}